name: docker-deploy

on:
  push:
    branches:
      - 'master'
    tags:
      - 'v[0-9]+.[0-9]+'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            eduhub-docker-production.artie.ia.surfsara.nl/eduhub-gateway
            cr.surf.nl/surfeduhub-gateway/gateway
          tags: |
            type=match,pattern=v\d+.\d+
            type=sha,format=long
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: eduhub-docker-production.artie.ia.surfsara.nl
          username: ${{ secrets.ARTIFACTORY_USERNAME }}
          password: ${{ secrets.ARTIFACTORY_PASSWORD }}
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: cr.surf.nl
          username: ${{ secrets.HARBOR_USERNAME }}
          password: ${{ secrets.HARBOR_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
